body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation css */
nav li, nav a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 10px;
    background-color: #212121;
}
.logo{
    margin-right: auto;
}
.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a{
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover{
    color: rgb(179, 44, 48);
}
header .button{
    color: #212121;
    padding: 9px 25px;
    margin-left: 20px;
    background-color: rgb(179, 44, 48);
    border: none;
    border-radius: 50px;
    font-size: 1.25em;
    transition: all 0.3s ease 0s;
}
header .button:hover{
    background-color: rgba(179, 44, 48, 0.6);
}





/* Footer css */
.container{
  max-width: 1170px;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #212121;
  padding: 70px 0;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: rgb(179, 44, 48);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #bbbbbb;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: rgb(179, 44, 48);
  padding-left: 8px;
}
.footer-col .socialIcons a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgb(255, 255, 255, 0.2);
  margin-right: 10px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transform: all 0.5s ease;
}

.footer-col .socialIcons a:hover{
  color: #24262b;
  background-color: rgb(179, 44, 48);
}

